.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* ELEMENT STYLES -------------------- */

body {
  background: #e8e7e7;
  font-family: arial;
}

header {
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #7eb8f1;
  border-bottom: solid 2px #d4caff;
  width: 80%;
  margin: 30px auto;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

button {
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

.footer-dark #dashboard {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark #dashboard a {
  color: rgb(10, 172, 236);
  text-decoration: underline;
  opacity: 1;
}

.footer-dark #dashboard a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text li {
  opacity: 0.5;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

#dashboard {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282d32;
}

#homeInfo{
  margin-top: 120px;
}

#homeroutes {
  list-style-type: none;
  margin-top: -95px;
  margin-left: 30px;

}

.footer-dark #homeroutes {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark #homeroutes a {
  color: rgb(10, 172, 236);
  text-decoration: underline;
  opacity: 1;
}

.footer-dark #homeroutes a:hover {
  opacity: 0.8;
}

#homesections {
  float: left;
}

#homesections a:hover:not(.active) {
  background-color: #111;
}


#homesections a {
  display: block;
  color: rgb(222, 5, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#sections {
  float: left;
}

#sections a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#sections a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #3a3a3a;
}

#email{
  font-size: 18px;
}

/* COMPONENT STYLES -------------------- */

.filter-search {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}

.add-form {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}


.page-style {
  min-height: calc(100vh - 250px);
  width: 80%;
  margin: 30px auto;
}


table {
  border: 1px solid black;
  table-layout: fixed;
  width: 100% ;
}

td {
  width: 25%;
}

img {
  width: 60%;
  height: fit-content;
}

textarea {
  width:95%;
  height: 50px;
  resize: vertical;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  padding-right: 10%;
}

button {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.menu-nav {
  text-transform: uppercase;
}

.food-items {
  display: flex;
  flex-wrap: wrap;
}

.img-responsive {
  width: 100%;
}

.img-curve {
  border-radius: 15px;
}

.food-box {
  width: 32%;
  margin: 0.2%;
  padding: 1%;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.food-img {
  width: 20%;
  float: left;
}

.food-details {
  width: 70%;
  float: left;
  margin-left: 5%;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}

.food-desc {
  font-size: 0.8rem;
  color: #3f454e;
  line-height: 1;
}

.reviews-form {
  font-size: calc(5px + 3vmin);
}

.reviews-list {
  font-size: calc(5px + 3.5vmin);
}

.navbar {
	margin: 27px auto 0;
  padding-left: 10px;
	position: relative;
	width: 640px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
.navbarsection a:hover:not(.active) {
  background-color: rgb(231, 218, 218);
}

.navbar .navbarsection {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
.navbar .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
.navbarsection:nth-child(1) {
	width: 100px;
}
.navbarsection:nth-child(2) {
	width: 100px;
}
.navbarsection:nth-child(3) {
	width: 100px;
}
.navbarsection:nth-child(4) {
	width: 100px;
}
.navbarsection:nth-child(5) {
	width: 100px;
}
.navbarsection:nth-child(6) {
	width: 120px;
}

#navsec a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#navsec a::after{
  content: '';
position: absolute;
display: block;
bottom: 0;
left: 50%;
width: 0;
height: 1px;
border-bottom: 2px solid rgb(255, 0, 0);
}

#navsec a::after{
  transition: all 0.2s linear;
}

#navsec a:hover {
  color: rgb(255, 0, 0);
  }
  
  #navsec a:hover::after {
  left: 0;
  width: 100%;
  }



h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #e77510;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}
